 .logo {
 font-family: 'Product Sans', sans-serif;
            font-size: 85px;
            font-weight: 700;
            margin-bottom: 25px;
            color: #F8F8F8;
            letter-spacing: -2px;
}