 .logo {
 font-family: 'Product Sans', sans-serif;
            font-size: 85px;
            font-weight: 700;
            margin-bottom: 25px;
            color: #F8F8F8;
            letter-spacing: -2px;
}
.search-container {
            width: 90%;
            max-width: 580px;
            height: 44px;
            border-radius: 22px;
            background-color: white;
            display: flex;
            align-items: center;
            padding: 0 15px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
        }