 .logo {
 font-family: 'Product Sans', sans-serif;
            font-size: 85px;
            font-weight: 700;
            margin-bottom: 200px;
            color:aqua;
            letter-spacing: -2px;
            

        }