 .logo {
 font-family: 'Product Sans', sans-serif;
            font-size: 85px;
            font-weight: 700;
            margin-bottom: 200px;
            color:aqua;
            letter-spacing: -2px;
}
.search-container {
            width: 90%;
            max-width: 580px;
            height: 44px;
            border-radius: 22px;
            background-color: white;
            display: flex;
            align-items: center;
            padding: 0 15px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);

        }
        .search-input {
            border: none;
            outline: none;
            flex-grow: 1;
            font-size: 16px;
            color: #202124;
            padding: 0 10px;
        }
         .search-icon {
            color: #9AA0A6;
            font-size: 16px;
            margin: 0 5px;
        }